.a {
    background-color: #001;
}
.b {
    background-color: #003;
}

.c {
    cursor: crosshair;
}

.p {
    background-color: #ADFCD2;
}

body {
    background-color: #003;
    color: whitesmoke;
}

